h1 {
    color: white;
    background: blue;
    text-align: center;
    font-size: 120%;
    padding: 12px;
}

body {
    background: #ffffe0;
    color: blue;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
}

.course {
    width: 500px;
    margin: 20px auto;
    color: green;
    text-align: left;
}